#titulopagina {
    background-color: #5e8d84;
    height: 80px;
    text-align: center;
    color: white;
    font-size: 25px;
    font-style: bold; 
    font-family:'Gill Sans', Helvetica, sans-serif;
    text-shadow: grey 1px;

}
#subtitulo {
    background-color: #5e8d84;
    height: 30px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-style: bold; 
    font-family:Arial, Helvetica, sans-serif;

}
#titulo{
    font-size: 20px;
    background-color: #5e8d84;
    width: 200px;
    height: 60px;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

#general {
    float: right;
    width: 800px;
    margin: 1px 1px 1px;

}
#titulo {
    position: relative;
    right: -900px;
}

.comuna:hover{
    filter: saturate(300%);

}