
#titulopagina {
    background-color: #76b2af;
    height: 100px;
    text-align: center;
    color: #bcdfd5;
    font-size: 40px;
    font-style: bold; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: grey 1px;
    font-weight: bold;

}
#subtitulo {
    background-color: #76b2af;
    height: 30px;
    text-align: center;
    color: #c7dcd3 ;
    font-size: 18px;
    font-style: bold; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#boton{
    background: #76b2af;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Bold;
    color:#545351;
    position: absolute;
    top: 276px;
    left: 450px;
    z-index: 4;
    border-radius: 20px;
    display:none;
}
button:hover{
    cursor:pointer;
}
#nombrecomuna{
    font-size: 20px;
    background-color: #76b2af;
    font-weight:520;
    width: 400px;
    height: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #bcdfd5;
    text-align: center;
    position: absolute;
    right: 15px;
    top: 150px;
    border-radius: 20px;
    padding: 5px;
}
#aclaracion1{
    font-size:15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#015d57;
    float: right;
    position: absolute;
    width: 650px;
    top: 960px;
    left: 360px;

}
#aclaracion2{
    font-size:15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#015d57;
    float: left;
    position: absolute;
    width: 400px;
    top: 220px;
    right: 30px;
    text-align: right;

}
#comparacion{
    font-size: 20px;
    background-color: #015d5f;
    width: 400px;
    height: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    color: #bcdfd5;
    text-align: center;
    position:absolute;
    top:900px;
    left: 420px;
    border-radius: 20px;
    padding: 5px;
    text-decoration: none;
}
#comparacion:hover{
    cursor:hand;
}
.linea {
    display: inline-block;
    padding: 5px;
    position: absolute;
    top: 30px;
}
.enlinea{
    display: inline-block;
    padding: 5px;
}
#general {
    float: right;
    width: 800px;
    margin: 1px 1px 1px;
    position:absolute;
    top: 250px;
    right: 0px;
    z-index: 1;

}

.comuna:hover{
    filter: opacity(30%);
}
*{
    margin:0;
    padding:0;
}
#nav{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    width: 400px;
    margin: 0 auto;
    position:absolute;
    top: 270px;
    list-style-type: none;  
    left:130px;
    z-index: 3;
    display:none;
}
ul{
    list-style: none;
    display:none;
}
#menu li>a{
    background-color: #76b2af;
    color: white;
    text-decoration: none;
    margin: 0px 5px; 
    padding: 10px;
    display: block;
    min-width: 100px;
    top:100%;
    display:none;

}
#menu li>a:hover{
    color:#cccbc7;
    background-color: #36726a;
    display:none;
}
#menu>li{
    float: left;
    text-align: center;
    display:none;
}
#menu>li>ul{
    display:none;
}
#menu>li:hover>ul{
    display:block;
}

body{
    background-color: #c7dcd3 ;
}

button{
    background-color:  #76b2af;
    color: white;
    text-decoration: none;
    margin: 0px 5px; 
    padding: 10px;
    display: block;
    width: 150px;
    top:100%;
    outline:none;
    box-shadow: none;
    border-color: transparent;
    cursor:hand;
    border-radius: 20px;
}
button:hover{
    color:#cccbc7;
    background-color:  #76b2af; 
    cursor:hand;
}
.ddimgtooltip{
    box-shadow: 3px 3px 5px #818181; 
    -webkit-box-shadow: 3px 3px 5px #818181;
    -moz-box-shadow: 3px 3px 5px #818181;
    display:none;
    position:absolute;
    border:1px solid black;
    background:rgb(240, 235, 235);
    color: grey;
    z-index:2000;
    padding: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5%;
}
#imagen{
    position: absolute;
    float: right;
    right: 10px;
    top: 650px;
    background-color: transparent;
    
}


  
#chart {
    max-width: 870px;
    margin: 30px auto;
  }

#grafico{
    position:absolute;
    left:10px;
    
}
#fondo{
    background-color: transparent;
    position: absolute;
    top: 160px;
    width: 600px;
    height: 400px;
    z-index: 2;
    display:none;
}
#gcerrillos{
    display:none;
    background-color: transparent;
    position: absolute;
    top: 160px;
    width: 600px;
    height: 400px;
    display:none;
}

#gcerronavia{
    display:none;
    background-color: transparent;
    position: absolute;
    top: 160px;
    width: 600px;
    height: 400px;
    display:none;
}
.circulo{
    background:  #76b2af; 
    border-radius: 50%; 
    position: absolute;
    display: inline-block;
}
#circulo1{
    left: 120px;
    height: 150px; 
    width: 150px;
    top: 930px;
    background-color: #015d57;
}

#circulo2{
    left: 95px;
    height: 200px; 
    width: 200px;
    top: 1150px;
    background: #76b2af;
}
#circulo3{
    left: 450px;
    height: 150px; 
    width: 150px;
    top: 930px;
    background-color: #015d57;
    
}
#circulo4{
    left: 425px;
    height: 200px; 
    width: 200px;
    top: 1150px;
    background: #76b2af;
}

#texto1{
    font-size:20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#015d57;
    float: left;
    position: absolute;
    width: 720px;
    top: 740px;
    left: 30px;
    text-align:justify;
}
#texto2{
    font-size:30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#015d57;
    float: left;
    position: absolute;
    width: 720px;
    top: 790px;
    left: 30px;
    font-weight: bold;
    
}
#nombre1{
    position: absolute;
    top: 1090px;
    font-size:20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#015d57;
    left:155px;
    width: 200px;
}
#nombre3{
    position: absolute;
    top: 1090px;
    font-size:20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#015d57;
    left:485px;
    width: 200px;
}
#nombre2{
    position: absolute;
    top: 1360px;
    font-size:20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#015d57;
    left:140px;
    width: 200px;
}
#nombre4{
    position: absolute;
    top: 1360px;
    font-size:20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#015d57;
    left:480px;
    width: 200px;

}
#nombre5{
    position: absolute;
    top: 880px;
    font-size:20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #015d57;
    left:50px;
    font-weight: bold;
    width: 400px;
}

#nombre6{
    position: absolute;
    top: 880px;
    font-size:20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#015d57;
    left: 460px;
    font-weight: bold;
    width: 200px;
}
#Vpob{
    color: #bcdfd5;
    font-size:50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 970px;
    left: 150px;
    position:absolute;
}
#PApob{
    color: #bcdfd5;
    font-size:65px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 60px;
    left: 40px;
    position:absolute;
    
}
#Vpob:hover{
    color: white;
}
#PApob:hover{
    color: white;
}
#Vcas{
    color: #bcdfd5;
    font-size:50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 45px;
    left: 20px;
    position:absolute;

}
#Vcas:hover{
    color: white;
}
#PAcas{
    color: #bcdfd5;
    font-size:65px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 60px;
    left: 15px;
    position:absolute;
}
#PAcas:hover{
    color: white;
}
#nombre7{
    font-size:15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#015d57;
    float: left;
    position: absolute;
    width: 900px;
    top: 1400px;
    left: 30px;
}
#colFilter_div{
    background-color:white;
}
#chart_div{
    background-color: white;
}
#auxiliar{
    position:absolute;
    top: -580px;
}
#botonsin{
    background-color: #015d57;
    color: #bcdfd5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    margin: 0px 5px; 
    padding: 10px;
    display: block;
    width: 150px;
    top:100%;
    outline:none;
    box-shadow: none;
    border-color: transparent;
    cursor:hand;
    border-radius: 20px;
}
#limpiar{
    background-color: #015d57;
    color: #bcdfd5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    margin: 0px 5px; 
    padding: 10px;
    display: block;
    width: 300px;
    top:100%;
    outline:none;
    box-shadow: none;
    border-color: transparent;
    cursor:hand;
    border-radius: 20px;
    position: absolute;
    top: 500px;
}
#chart_div{
    background-color: #bcdfd5;
}
#colFilter_div{
    background-color: #bcdfd5;
}
